services:
    php:
        build:
            dockerfile: ./.docker/Dockerfile
        restart: unless-stopped
        volumes:
            - ./:/var/www
        depends_on:
            - db

    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - '80:80'
        volumes:
            - ./:/var/www
            - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    db:
        image: mariadb:11
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            -   '3306:3306'
        volumes:
            - ./.docker/mariadb:/var/lib/mysql
        command: >
            --innodb-buffer-pool-size=256M
            --max-connections=30
